*.db
.config
swearwords.py
app.log
venv
APICalls.py
blinkyboi.py
blinkytape.py
EventSubs.py
example.log
flask_entry.py
RewardHandler.py
TestingScript.py
__pycache__
.idea
Database/*
!Database/.gitkeep
Sounds/*
!Sounds/.gitkeep
testing
*.mp3